@import 'sass-rem';
@import '~styles/mixins';

.app {
  @include size(100%, 100%);
  @include content-center;

  flex-direction: column;

  .upload-btn {
    @include size(200px, 100px);
  }

  .submit-file {
    font-size: 24px;
  }

  .file-tree-with-modal {
    /* width is defined by props */
    height: 620px;
  }
}
