@import 'sass-rem';
@import '~styles/mixins';

.modal {
  padding-bottom: 0;
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

:global {
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-close {
    display: none;
  }
}
